<br>
<div class="ui eight column stackable centered grid">
    <div id="score" style="display: none;" class="row">
        <div class="center aligned column">
            <div class="ui raised segment">
                <h1><i class="birthday icon"></i> <span class="score" id="vitorias">0</span></h1>
            </div>
        </div>
        <div class="center aligned column">
            <div class="ui raised segment">
                <h1><i class="anchor icon"></i> <span class="score" id="empates">0</span></h1>
            </div>
        </div>
        <div class="center aligned column">
            <div class="ui raised segment">
                <h1><i class="trash icon"></i> <span class="score" id="derrotas">0</span></h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="four wide column">
            <center>
                <h1><i class="user icon"></i> Jogador 1</h1>
            </center>
            <div class="ui raised segment">
                <center>
                    <br>
                    <button id="p1-1" class="ui green button">
                    <img id="pedra" width="50px" height="50px">
                </button>
                    <button id="p1-2" class="ui green button">
                    <img id="papel" width="50px" height="50px">
                </button><br>
                    <button id="p1-3" class="ui green button">
                    <img id="tesoura" width="50px" height="50px">
                </button>
                </center>
            </div>
        </div>
        <div class="four wide column">
            <center>
                <h1><i class="user icon"></i> Jogador 2</h1>
            </center>
            <div class="ui raised segment">
                <center>
                    <br>
                    <button id="p2-1" class="ui green button">
                        <img id="pedra" width="50px" height="50px">
                    </button>
                    <button id="p2-2" class="ui green button">
                        <img id="papel" width="50px" height="50px">
                    </button><br>
                    <button id="p2-3" class="ui green button">
                        <img id="tesoura" width="50px" height="50px">
                    </button>
                </center>
            </div>
        </div>
    </div>
</div>